@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #1d181e;
    --box-color: #171217;
    --buttons-color: #483d48;
    --upload-color: #f3dead;
    --a-color: #775144;
    --text-color: #C09891;
    --hover-color: #6b5b6b;
    --border-color: rgba(243, 222, 173, 0.4);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

body {
    background-color: var(--bg-color);
    height: 100%;
}

a {
    color: var(--a-color);
    cursor: pointer;
}

a:hover {
    color: var(--text-color);
}

button {
    background-color: var(--buttons-color);
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
    font-size: 0.9rem;
    color: var(--text-color);
    border-color: transparent;
}

button:hover {
    background-color: var(--hover-color);
}

p {
    font-size: 1.1rem;
}

.index-header {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2.5% 6%;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-register {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
}

.main-container-storage {
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.login-form-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    border-radius: 1rem;
    border: 0.1rem solid var(--border-color);
    padding: 2rem 15rem 3rem;
    background-color: var(--box-color);
}

.sub-login-form-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}


.inputs-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#usernameInput, #nameInput, #emailInput {
    width: 25rem;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--buttons-color);
    border: transparent;
    color: var(--upload-color);
    padding-left: 0.3rem;
    border-radius: 0.4rem;
}

#passwordInput {
    width: 25rem;
    height: 2rem;
    background-color: var(--buttons-color);
    border: transparent;
    color: var(--upload-color);
    padding-left: 0.3rem;
    border-radius: 0.4rem;
    font-size: 0.7rem;
}

.register-title {
    font-size: 2rem;
}

.files-section {
    border-radius: 0.5rem;
    border: 0.125rem solid var(--border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30rem;
    width: 80rem;
    justify-content: space-between;
    overflow: auto;
    background-color: var(--box-color);
}

.files-infoname {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.upload-section {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--border-color);
    padding: 0.6rem 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
}

.upload-divs {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: var(--box-color);
}

.upload-button {
    height: 1.6rem;
    width: 5rem;
    font-size: 0.85rem;
}

.title-header {
    display: flex;
    gap: 0.6rem;
}

#file-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#file-list li {
    margin: 10px 0;
}

#file-list-table {
    width: 100%;
    border-collapse: collapse;
}

#file-list-table thead {
    background-color: var(--box-color);
}

#file-list-table th, #file-list-table td {
    padding: 10px;
    text-align: left;
    color: var(--text-color);
    border-bottom: 0.1rem solid var(--border-color);
}


#file-list li a {
    text-decoration: none;
    color: #f0a;
    font-size: 1.2em;
}

#file-list li a:hover {
    text-decoration: underline;
}

#file-list-table th {
    font-size: 1.2rem;
    text-transform: uppercase;
}

#file-list-table tr:hover {
    background-color: var(--hover-color);
}

#file-list-table td a {
    color: #f0a;
    text-decoration: none;
}

#file-list-table td a:hover {
    text-decoration: underline;
}

#box-image {
    width: 3.7rem;
    height: auto;
}

.main-section {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem;
    gap: 5rem;
    color: var(--text-color);
}

.page-buttons {
    border-radius: 0.5rem;
    border: 0.1rem solid var(--border-color);
    padding: 0.6rem 1rem;
    background-color: var(--box-color);
}

.page-buttons:hover {
    background-color: var(--bg-color);
}

.delete-button {
    background-color: #ce3e3e;
    color: white;
    border: none;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 0.3rem;
    margin-left: 1rem;
}

.delete-button:hover {
    background-color: #a90404;
}

.index-footer  {
    background-color: var(--bg-color);
    color: var(--text-color);
    gap: 0.2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0.8rem;
}
