@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --bg-color: #221D23;
    --buttons-color: #483d48;
    --upload-color: #f3dead;
    --a-color: #775144;
    --text-color: #C09891;
    --hover-color: #6b5b6b;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}

a {
    color: var(--a-color);
    cursor: pointer;
}

a:hover {
    color: var(--text-color);
}

button {
    background-color: var(--buttons-color);
    border-radius: 0.5rem;
    cursor: pointer;
    height: 2rem;
    width: 5rem;
    font-size: 0.9rem;
    color: var(--text-color);
    border-color: transparent;
}

button:hover {
    background-color: var(--hover-color);
}

p {
    font-size: 1.1rem;
}

.index-header {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 2.5% 6%;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-register {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.main-container {
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 90vh;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.login-form-section {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    border-radius: 1rem;
    border: 0.125rem solid var(--upload-color);
    padding: 2rem 15rem 3rem;
}

.sub-login-form-section {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.names-div {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.inputs-div {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#usernameInput, #nameInput, #emailInput {
    width: 25rem;
    height: 2rem;
    font-size: 1rem;
    background-color: var(--buttons-color);
    border: transparent;
    color: var(--upload-color);
    padding-left: 0.3rem;
    border-radius: 0.4rem;
}

#passwordInput {
    width: 25rem;
    height: 2rem;
    background-color: var(--buttons-color);
    border: transparent;
    color: var(--upload-color);
    padding-left: 0.3rem;
    border-radius: 0.4rem;
    font-size: 0.7rem;
}

.register-title {
    font-size: 2rem;
}

.files-section {
    border-radius: 0.5rem;
    border: 0.125rem solid var(--upload-color);
    padding: 0.6rem 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35rem;
    width: 80rem;
}

.upload-section {
    border-radius: 0.5rem;
    border: 0.125rem solid var(--upload-color);
    padding: 0.6rem 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upload-divs {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.upload-button {
    height: 1.6rem;
    width: 5rem;
    font-size: 0.85rem;
}

.title-header {
    display: flex;
    gap: 0.6rem;
}

#box-image {
    width: 3.7rem;
    height: auto;
}

.index-footer  {
    background-color: var(--bg-color);
    color: var(--text-color);
    gap: 0.2rem;
    display: flex;
    justify-content: center;
    padding-bottom: 0.8rem;
}
